@page "/ParentsChildren/{ParentUserId:guid}"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using ALB.Domain.Entities
@using ALB.Domain.Repositories
@using ALB.Domain.Values
@using Microsoft.AspNetCore.Authorization

@inject IChildRepository ChildRepository

@attribute [Authorize(Roles = SystemRoles.Parent)]
<PageTitle>ParentsChildren</PageTitle>

<h1>Zu verwaltende Kinder</h1>

<p>Hier finden Sie die Ihnen zugewiesenen Kinder.</p>

@if (_children == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Vornamen</th>
            <th>Nachnamen</th>
            <th>Geburtstag</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var child in _children)
        {
            <tr>
                <td>@child.FirstName</td>
                <td>@child.LastName</td>
                <td>@child.DateOfBirth</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    Child[]? _children;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    
    [Parameter]
    public Guid ParentUserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var children = await ChildRepository.GetByParentId(ParentUserId);
        _children = children.ToArray();
    }

}