@page "/UsersManagement"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using ALB.Domain.Values
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject ILogger<UsersManagement> Logger

@attribute [Authorize(Roles = SystemRoles.Admin)]
<h3>UsersManagement</h3>

<div class="row">
    <div class="d-flex gap-2 mb-4">
        <button class="btn btn-primary" @onclick="LoadAdmins">Admins</button>
        <button class="btn btn-primary" @onclick="LoadTeamMembers">Team-Mitglieder</button>
        <button class="btn btn-primary" @onclick="LoadParents">Eltern</button>
        
    </div>
    <div class="form-floating mb-3">
        @if (_users.Count is 0)
        {
            <p>
                <em>Wählen sie die Rolle von Nutzern, die angezeigt werden sollen</em>
            </p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Vornamen</th>
                    <th>Nachnamen</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in _users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    
    List<ApplicationUser> _users = [];

    protected override async Task OnInitializedAsync()
    {
        //UserManager.GetUsersInRoleAsync()
    }

    private async Task LoadAdmins()
    {
        Logger.LogInformation("Loading administrations...");
        _users.Clear();
        var users = await UserManager.GetUsersInRoleAsync(SystemRoles.Admin);
        _users.AddRange(users);
    }

    private async Task LoadTeamMembers()
    {
        Logger.LogInformation("Loading team members...");
        _users.Clear();
        var users = await UserManager.GetUsersInRoleAsync(SystemRoles.Team);
        _users.AddRange(users);
    }

    private async Task LoadParents()
    {
        Logger.LogInformation("Loading parents...");
        _users.Clear();
        var users = await UserManager.GetUsersInRoleAsync(SystemRoles.Parent);
        _users.AddRange(users);
    }

}